@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman'ı Güncelle</h2>

@using(Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x=>x.DepartmanID)
        <br />
        @Html.LabelFor(x=>x.DepartmanAd)
        @Html.TextBoxFor(x=>x.DepartmanAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Durum)
        @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning">Güncelle</button>

    </div>
}

