@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

<h2>Departman Detayı</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.dpr Departmanı Personelleri</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>PersonelID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.PersonelID</td>
    <td>@x.PersonelAd</td>
    <td>@x.PersonelSoyad</td>
    <td>
        <img src="@x.PersonelGorsel" style="width:80px;height:60px;" />
    </td>
    <td><a href="/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-primary">Yapılan Satışlar</a></td>

</tr>
    }

</table>

